<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1080802022131-074qmkv3hmar0pc1oe5l7od55qubbhqs.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1080802022131-074qmkv3hmar0pc1oe5l7od55qubbhqs</string>
	<key>API_KEY</key>
	<string>AIzaSyCwBCtySWQy9Rm52SvzdK4-lPA5cens-NU</string>
	<key>GCM_SENDER_ID</key>
	<string>1080802022131</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterFirebase</string>
	<key>PROJECT_ID</key>
	<string>cantocrave-9532a</string>
	<key>STORAGE_BUCKET</key>
	<string>cantocrave-9532a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1080802022131:ios:841ee6db95b869c3fbdd86</string>
</dict>
</plist>